html {
  font-family:Arial, Helvetica, sans-serif;
  font-weight: normal;
}

body {
  background-color: black;
  margin: 0;
}

h1 {
  font-size: 1.8rem;
  color: black;
  text-align: center
}

p{
  font-size: 20px;
  text-align: center;
  padding: 1px;
  margin: 2px;
}

table {
  margin: 0 auto;
  width: 95%
}

th, td {
  text-align: left;
  padding: 2px;
  background-color: cornflowerblue;
}

form{
  border-radius: 5px;
  background-color: rgba(255, 191, 0, .0);
  padding: 0px;
}

button {
  background-color: midnightblue;
  border: none;
  padding: 4px 4px;
  text-align: center;
  font-size: 20px;
  border-radius: 2px;
  transition-duration: 0.4s;
  width: 90%;
  color: lightblue;
  cursor: pointer;
  margin: 10px;
}

button:hover {
   background-color: #5668d0;
}

input[type=number], select {
  width: 100%;
  padding: 2px 2px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid darkblue;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="radio"] {
  appearance: none;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  border: 3px solid darkblue;
  transition: 0.2s all linear;
  margin-right: 5px;
  position: relative;
  top: 4px;
  color: black;
  }

input[type="radio"]:checked{
  border: 5px solid darkblue;
}

input[type=submit] {
  background-color: midnightblue;
  border: none;
  padding: 4px 4px;
  text-align: center;
  font-size: 20px;
  border-radius: 2px;
  transition-duration: 0.4s;
  width: 90%;
  color: lightblue;
  cursor: pointer;
  margin: 10px;
}

.topnav {
  overflow: hidden;
  background-color: midnightblue;
  text-align: center;
}

  /* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 6px 6px;
  text-decoration: none;
  font-size: 1.0rem;
}

  /* Change the color of links on hover */
.topnav a:hover {
  background-color: blue;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

.topnav-right{
  float:right;
}

.toptitle {
  color: black;
  font-size: 3rem;
}

.disabled {
  pointer-events: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px
}

.switch input {
  display: none
}

.slider {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: steelblue;
  border-radius: 25px
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 25px;
}

input:checked+.slider {
  background-color: darkblue;
}

input:checked+.slider:before {
  transform: translateX(26px);
}

.content {
  padding: 2px;
  max-width: max-content;
  margin: 0 auto;
}

card-grid {
  max-width: max-content;
  margin: 0 auto;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.card {
  background-color: rgba(230, 242, 255, .9);
  box-shadow: 4px 4px 12px 1px rgba(127,127,127, 0.5);
  border-radius: 2px;
}

#motor-state{
  font-weight: bold;
  color: red;
}

.queenshive-ip {
  background-color: midnightblue;
  color: white;
}

.queenshive-ip a:link {
  color: white;
}

.queenshive-ip a:visited {
  color: white;
}

.highlight-red{
  background: red;
}

.highlight-green{
  background: green;
}
